
<div class="mb-3">
    <div class="section-title mb-0">
        <h4 class="m-0 text-uppercase font-weight-bold">Tags</h4>
    </div>
    <div class="bg-white border border-top-0 p-3">
        <div class="d-flex flex-wrap m-n1">
            <a href="{% url 'news:category' category='Politics' %}" class="btn btn-sm btn-outline-secondary m-1">Politics</a>
            <a href="{% url 'news:category' category='Business' %}" class="btn btn-sm btn-outline-secondary m-1">Business</a>
            <a href="{% url 'news:category' category='Corporate' %}" class="btn btn-sm btn-outline-secondary m-1">Corporate</a>
            <a href="{% url 'news:category' category='Health' %}" class="btn btn-sm btn-outline-secondary m-1">Health</a>
            <a href="{% url 'news:category' category='Education' %}" class="btn btn-sm btn-outline-secondary m-1">Education</a>
            <a href="{% url 'news:category' category='Science' %}" class="btn btn-sm btn-outline-secondary m-1">Science</a>
            <a href="{% url 'news:category' category='Foods' %}" class="btn btn-sm btn-outline-secondary m-1">Foods</a>
            <a href="{% url 'news:category' category='Travel' %}" class="btn btn-sm btn-outline-secondary m-1">Travel</a>
        </div>
    </div>
</div>